<ion-header>
  <ion-toolbar>
    <ion-title>addstudent</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab1" (click)="dismiss(false)"></ion-back-button>
    </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content>
<ion-input type="number" [(ngModel)]="newStudent.studentID" placeholder="Student ID"></ion-input>
<ion-input type="text" [(ngModel)]="newStudent.firstName" placeholder="First Name"></ion-input>
<ion-input type="text" [(ngModel)]="newStudent.lastName" placeholder="Last Name"></ion-input>
<ion-input type="number" [(ngModel)]="newStudent.moduleNo1" placeholder="Module 1"></ion-input>
<ion-input type="number" [(ngModel)]="newStudent.moduleNo2" placeholder="Module 2"></ion-input>
<ion-input type="number" [(ngModel)]="newStudent.courseID" placeholder="Course ID"></ion-input>
<ion-button (click)="addStudent()" expand='block'>Add Student</ion-button>
</ion-content>
